.container {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 10px;
  margin-top: 3em;
}

.mid {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.top {
  padding-top: 2em;
}

#textHeader {
  font-size: large;
}
